.App {
	text-align: center;
	background-color: lightgray;
	height: 100%;
	/* padding-bottom: 100%; */
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}



.App-body {

	margin: auto;
	width: 90vw;
	background-color: lightgray;

}

.App input {
	text-align: center;
}

.customYellow {
	filter: invert(79%) sepia(98%) saturate(945%) hue-rotate(1deg) brightness(105%) contrast(101%);
}

.was-validated .prevent-validation.form-control:valid,
.was-validated .prevent-validation.form-control.is-valid {
	padding: 0.375rem 0.75rem;
	border-color: #ced4da;
	background-image: none !important
}

.was-validated .prevent-validation.form-select:valid,
.was-validated .prevent-validation.form-select.is-valid {
	padding: 0.375rem 0.75rem;
	border-color: #ced4da;
	--bs-form-select-bg-icon: none !important
}